<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/02HW20220126%EB%B0%B0%EB%B3%B8%EC%98%8119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#051

movie_rank=['닥터 스트레인지','스플릿','럭키']
print(movie_rank)

In [1]:
movie_rank=['닥터 스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [3]:
movie_rank=['닥터 스트레인지','스플릿','럭키','배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [4]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [5]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.pop()
movie_rank.pop()
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [8]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs=lang1+lang2

print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [9]:
nums = [1, 2, 3, 4, 5, 6, 7]

print(f'max: {max(nums)}')
print(f'min: {min(nums)}')

max: 7
min: 1

In [11]:
nums = [1, 2, 3, 4, 5]
print(f'{nums[-1]*(nums[-1]+1)//2}')

15

In [12]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", 
"쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [13]:
nums = [1, 2, 3, 4, 5]
total=sum(nums)

print(f'{total/len(nums)}')

3.0

In [19]:
a=input('>>')
if a.islower()==True:
  print(a.upper())
else:
  print(a.lower())

>>A
a

In [21]:
a=int(input('>> score:'))
ch=''

if 100>= a >80:
  ch='A'
elif 80>= a >60:
  ch='B'
elif 60>= a >40:
  ch='C'
elif 40>= a >20:
  ch='D'
elif 20>= a >=0:
  ch='E'
print(f'grade is {ch}')

>> score:19
grade is E

In [25]:
a,b=input('입력:').split()
a=float(a)
if b =='달러':
  exchange= 1167*a
elif b =='엔':
  exchange= 1.096*a
elif b =='유로':
  exchange= 1268*a
elif b =='위안':
  exchange= 171*a

print(f'{exchange}')

입력:100 달러
116700.0

In [26]:
list1=[]
num1=int(input('input number1:'))
list1.append(num1)
num2=int(input('input number2:'))
list1.append(num1)
num3=int(input('input number3:'))
list1.append(num1)

print(max(list1))

input number1:100
input number2:20
input number3:32
100

In [28]:
number=input('휴대전화 번호 입력: ')

if number[0:3]=='011':
  service='SKT'
elif number[0:3]=='016':
  service='KT'
elif number[0:3]=='019':
  service='LGU'
elif number[0:3]=='010':
  service='알수없음'
print(f'당신은 {service} 사용자입니다')

휴대전화 번호 입력: 016-548-5548
당신은 KT 사용자입니다

In [79]:
a=input('>> 우편번호: ')
b=int(a[2])
if 0<= b<3:
  loc='강북구'
elif 3<= b<6:
  loc='도봉구'
elif 6<= b<10:
  loc='노원구'

print(f'{loc}')

>> 우편번호: 01923
노원구

In [32]:
a=input('>> 주민등록번호: ')
b=int(a[7])
if b == 1:
  gender='남자'
elif b!=1:
  gender='여자'

print(gender)

>> 주민등록번호: 965589-25659878
여자

In [39]:
a=input('>> 주민등록번호: ')
b=int(a[8:10])

if 0<= b <=8:
  place='서울 입니다.'
else: 
  place='서울이 아닙니다'
print(place)

>> 주민등록번호: 960509-166521
서울이 아닙니다

In [77]:
a=list(input('>> 주민등록번호: '))
a.remove('-')

first=(int(a[0])*2 + int(a[1])*3 + int(a[2])*4 + int(a[3])*5 + int(a[4])*6 + int(a[5])*7 + int(a[6])*8 + int(a[7])*9 + int(a[8])*2 + int(a[9])*3 + int(a[10])*4 + int(a[11])*5)

first = first % 11

second=11-first

if second > 10:
  second = 1
  if second == int(a[-1]):
    print("유효한 주민등록번호입니다.")
  elif second != int(a[-1]):
    print("유효하지 않은 주민등록번호입니다.")
elif second ==10:
  second=0
  if second == int(a[-1]):
    print("유효한 주민등록번호입니다.")
  elif second != int(a[-1]):
    print("유효하지 않은 주민등록번호입니다.")

elif second != int(a[-1]):
  print("유효하지 않은 주민등록번호입니다.")

>> 주민등록번호: 990804-1068911
['9', '9', '0', '8', '0', '4', '1', '0', '6', '8', '9', '1', '1']
['1', '1']
['1', '1']
유효한 주민등록번호입니다.

In [78]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
# 이 문제는 문제뜻을 이해를 못했습니다 제가 코인을 한번도 안해봐서,,,
print(btc)

{'opening_price': '44198000', 'closing_price': '45874000', 'min_price': '43900000', 'max_price': '46291000', 'units_traded': '2472.50333266', 'acc_trade_value': '111479430034.5991', 'prev_closing_price': '44178000', 'units_traded_24H': '3165.65836733', 'acc_trade_value_24H': '142307040008.9535', 'fluctate_24H': '1780000', 'fluctate_rate_24H': '4.04', 'date': '1643188705442'}