<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/05HW20220207%EB%B0%B0%EB%B3%B8%EC%98%8119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#211
def printing(strings):
  print(strings)

printing("안녕")

#입력한 문자열이 출력됩니다

안녕

In [ ]:
#212

#두 수의 합이 출력됩니다

In [ ]:
#213

#매개변수에 전달인자값을 안줬기 때문입니다

In [ ]:
#214
#자료형이 다른 두 data를 더할 수 없기 때문이다

In [3]:
def print_with_smile(a):
  print(f'{a}:D')

print_with_smile('B')

B:D

In [5]:
def print_with_smile(a):
  print(f'{a}:D')
print_with_smile('안녕하세요')

안녕하세요:D

In [7]:
def  print_upper_price(price):
  print(int(price * 1.3))

print_upper_price(1000)

1300

In [9]:
def print_arithmetic_operation(a,b):
  print(f'{a} + {b} = {a+b}')
  print(f'{a} - {b} = {a-b}')
  print(f'{a} * {b} = {a*b}')
  print(f'{a} / {b} = {a/b}')
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [11]:
def print_max(a,b,c):
  max=0
  if a>b and a>c:
    max=a
  elif b>c:
    max=b
  else:
    max=c
  print(max)

print_max(1,5,6)

6

In [16]:
def print_reverse(a):
  b = a[::-1]
  print(b)

print_reverse('abcde')

edcba

In [18]:
def print_score(a):
  print(sum(a,0)/len(a))


print_score([1,2,3])

2.0

In [21]:
def print_even(a):
  for i in a:
    if i%2 == 0:
      print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

In [22]:
def print_keys(a):
  for key,val in a.items():
    print(key)

print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [23]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dict,key):
  for keys,val in my_dict.items():
    if keys == key:
      print(val)
print_value_by_key (my_dict, "10/26")

[100, 130, 100, 100]

In [27]:
def print_5xn(string):
  a=1
  for i in range(0,len(string),5):
    print(string[i:i+5])
    print("\n")


print_5xn("아이엠어보이유알어걸")

아이엠어보


이유알어걸

In [29]:
def print_mxn(string,m):
  a=1
  for i in range(0,len(string),m):
    print(string[i:i+3])
    print("\n")

print_mxn("아이엠어보이유알어걸", 3)

아이엠


어보이


유알어


걸

In [30]:
def calc_monthly_salary(annual_salary):
  print(annual_salary//12)

calc_monthly_salary(12000000)

1000000

In [31]:
def my_print (a, b) :
 print("왼쪽:", a)
 print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [32]:
def my_print (a, b) :
 print("왼쪽:", a)
 print("오른쪽:", b)

my_print(b=100, a=200) #순서가달라도 지정해준 값을 따라간다

왼쪽: 200
오른쪽: 100