<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/06HW20220208%EB%B0%B0%EB%B3%B8%EC%98%8119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#231

#에러 결과값이 선언되지 않았음

NameError: ignored

In [ ]:
#232
def make_url(a):
  print(f'www.{a}.com')

make_url('naver')

www.naver.com

In [ ]:
#233
def make_list(a):
  ch=list(a)
  print(ch)
make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
#234
def pickup_even(a):
  b=[]
  for i in a:
    if i %2 == 0:
      b.append(i)
  print(b)

pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [ ]:
#235
def convert_int(a):
  new_a=a.replace(',','')
  new_a=int(new_a)
  print(new_a)
convert_int("1,234,567")

1234567

In [ ]:
#236
def 함수(num) :
 return num + 4
a = 함수(10) # 14
b = 함수(a) # 18
c = 함수(b) # 22 값이 덮어씌워진다
print(c)

22

In [ ]:
#237
def fff(num):
  return num+4
c=fff(fff(fff(10)))

print(c) # 위와 같은 결과 갚이 덮어씌워지면서 계속 더해진다

22

In [ ]:
#238
def a_1(num) :
 return num + 4
def a_2(num) :
 return num * 10
a = a_1(10) # 14
c = a_2(a) # 140
print(c)

140

In [ ]:
#239
def  a_1(num) :
 return num + 4
def a_2(num) :
 num = num + 2
 return a_1(num)
c = a_2(10) # 14에 c에 넣어지면서 2가 더해진다 첫번째 함수의 결과값이 두번쨰 함수에 전달된다
print(c)

16

In [ ]:
#240 
def a_0(num) :
 return num * 2
def a_1(num) :
 return a_0(num + 2)
def a_2(num) :
  num = num + 10
  return a_1(num)
c = a_2(2) #2번 함수 -> 1번함수-> 0번함수 3차례 걸쳐서 계산결과가 나온다
print(c)

28

In [ ]:
#291
f = open("바탕 화면/매수종목1.txt", 'w')
f.write('005930')
f.write('005380')
f.write('035420')
f.close()

FileNotFoundError: ignored

In [ ]:
#292
f = open("바탕 화면/매수종목1.txt", 'w')
f.write('005930 삼성전자')
f.write('005380 현대차')
f.write('035420 NAVER')
f.close()

In [ ]:
#293
f = open('매수종목.csv','w', newline='')
wr = csv.writer(f)
wr.writerow(['종목명','종목코드', 'PER'])
wr.writerow(['삼성전자','005930', '15.79'])
wr.writerow(['NAVER','035420', '55.82'])
 
f.close()

In [ ]:
#294
file_path = "/매수종목1.txt"

with open(file_path) as f:
  for line in lines:
    lines = f.readlines()

print(lines)

In [ ]:
#295
a = {}
with open("매수종목2.txt") as f:
    for line in f:
       (k, v) = line.split()
       a[int(k)] = v
print(a)

In [ ]:
#296
per = ["10.31", "", "8.00"]
try:
  for i in per:
    print(float(i))
except:
  print('0')

10.31
0

In [ ]:
#297
per = ["10.31", "", "8.00"]
new_per=[]
try:
  for i in per:
    print(float(i))
    new_per.append(i)
except:
  print('0')
  
print(new_per)

10.31
0
['10.31']

In [ ]:
#298
try:
  4/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [ ]:
#299
data = [1, 2, 3]

try:
  for i in range(5):
    print(data[i])
except IndexError:
    print("인덱싱 할 수 없습니다.")

1
2
3
인덱싱 할 수 없습니다.

In [ ]:
#300

per = ["10.31", "", "8.00"]
try:
  for i in per:
    print(float(per))
except:
  i=0
else:
  print("잘 진행중")
finally:
  print("정상 종료")

정상 종료