<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/07HW20220209%EB%B0%B0%EB%B3%B8%EC%98%8119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 436
x = '' 
if bool(x): 
  print('Yes') 
else: 
  print('No')
# c

No

In [3]:
# 437
x = ' ' 
if bool(x): 
  print('Yes') 
else: 
  print('No')
# b

Yes

In [4]:
# 438
x = [] 
if bool(x): 
  print('Yes') 
else: 
  print('No')
# a

No

In [5]:
# 439
x = [1,2,3] 
if bool(x): 
  print('Yes') 
else: 
  print('No')
# b

Yes

In [6]:
# 430
x = '' 
if not bool(x): 
  print('Yes') 
else: 
  print('No')
# a

Yes

In [7]:
# 441
x = 'print("Python")' 
eval(x)
# c

Python

In [9]:
# 442
x = input("Enter an expression: ") 
print(eval(x))
# c

Enter an expression: 45*2
90

In [10]:
# 443
a = ['a', 'b', 'c', 'A', 'B'] 
print(max(a))
# d

c

In [11]:
# 444
a = ['a', 'b', 'c', 'A', 'B'] 
print(min(a)) 
# a

A

In [12]:
# 445
a = ['a', 'b', 'c', 'A', 'B'] 
print(min(a))
# b

A

In [ ]:
# 446
a = ['a', 'b', 'c', '1', '2', 'A', 'B'] 
print(max(a)) 
a='A'
# d

In [16]:
# 447
a = ['a', 'b', 'c', '1', '2', 'A', 'B']
print(min(a))

# c

1

In [17]:
# 448
a = [1, 2, 3] 
print(sum(a)) 
# d

6

In [18]:
# 449
a = list(range(0,10,3)) 
print(sum(a))
# c

18

In [19]:
# 450
a = list(range(10,-10,3)) 
print(sum(a))
# b

0

In [20]:
# 451
a = list(range(-10,5,2)) 
print(sum(a))
# a

-24

In [21]:
# 452
x = [5, 4, 3, 2, 1] 
y = x.copy() 
x[0] = 6 
print(y) # append시키기 전 x랑 동일
# c

[5, 4, 3, 2, 1]

In [22]:
# 453
import copy
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x.append(6) 
print(y[0]) # x를 복사했기 때문에 y는 append시키기 전 x랑 동일 
# d

5

In [23]:
# 454
import keyword 
print(keyword.iskeyword('IS'))
# d

False

In [24]:
# 455
import keyword 
print(keyword.iskeyword('for'))
# a

True

In [33]:
# algorithm Homework

cnt = 0 # 8이 몇번 나오는지 세줄 변수 선언

for i in range(1,10001): # 1~10000까지 
  str_i=str(i) # 숫자를 문자로 변환
  for j in range(len(str_i)): # 문자로 변환해주고 반복문을 실행 
    if '8' in str_i[j]: # 이때 8이 있으면
      cnt+=1 # 하나씩 증가시켜준다 
print(cnt) # 결과가 맞는지 최종적으로 출력을 통해 확인

4000