<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/08HW20220214%EB%B0%B0%EB%B3%B8%EC%98%8119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 476
def xyz(): 
  x = 40 
  abc() 
  print(x) 
def abc(): 
  a = 32 
  x = 10 
xyz() 

# b

In [ ]:
# 477
def xyz(): 
  x = 40 
def abc(): 
  xyz() 
  a = 32 
  x = 10 
  print(x) 
abc() 

# c

In [ ]:
# 478
def abc(): 
  print(x) 
  x = 10 
abc()

# 지역변수 선언안함

In [ ]:
# 479
def abc(): 
  x = 12 
  print(x) 
  x = 10 
abc()

12

In [ ]:
# 480
def abc(): 
  x = 10 
  print(x) 
abc() 
x = 12
# c

In [ ]:
# 481
def abc(): 
  global x 
  x = 23 
x = 10 
abc() 
print(x)

# b

In [ ]:
# 482
def abc(): 
  print(x) 
  x = 10 
abc() 
x = 20
# d

In [ ]:
# 483
def abc(x): 
  return 20 / x 
print(abc(4))
# c

In [ ]:
# 484
def abc(x): 
  return 20 / x 
print(abc(0))
# d

In [ ]:
# 485
def abc(x): 
  try: 
    print(20 / x)
  except:
    print('Not a valid argument', end=' ') 
print(abc(0))

# b

Not a valid argument None

In [ ]:
# 486
def abc(x): 
  try: 
    print(20 / x) 
  except: 
    print('Not a valid argument', end=' ') 
  finally: 
    print(0, end=' ')
print(abc(0))
# a

In [ ]:
# 487
x = [1, 2, 3, 4] 
print(x[4])
# d

In [ ]:
# 488
x = [10, 20, 30, 40] 
print(x[20])
# d

In [ ]:
# 489
x = [1.0, 2.0, 3.0] 
print(x[2.0])
# c

In [ ]:
# 490
x = [1.0, 2.0, 3.0] 
print(x[int(2.0)])
# b

In [ ]:
# 491
x = ['Today', 'nice', 'day'] 
print(x[0] + ' is a ' + x[1] + x[2])
# a

In [ ]:
# 492
x = ['Today', 'Sunday', 'Monday'] 
print(x[0] + ' was a great day') 
# a

In [ ]:
# 493
x = ['Today', 'Sunday', 'Monday'] 
print(x[-1] + ' was a great day') 
# c

In [ ]:
# 494
x = ['Today', 'Sunday', 'Monday'] 
print(x[-3] + ' was a great day')
# a

In [ ]:
# 495
x = ['Today', 'Sunday', 'Monday'] 
x[2] = 'Friday' 
x[1] = 'Yesterday' 
print(x[-2] + ' was a great day')
# d

In [ ]:
# Algorithm Homework
def func(numlist):
  odd = 0
  even = 0
  for i in numlist:
    if i % 2 == 0:
      even += 1 
    else : 
      odd += 1
  print(f'홀수 {odd}개, 짝수{even}개')
func([3, 4, 5, 6, 7])
func([12, 16, 22, 24, 29])
func([41, 43, 45, 47, 49])

홀수 3개, 짝수2개
홀수 1개, 짝수4개
홀수 5개, 짝수0개