<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/11HW20220216%EB%B0%B0%EB%B3%B8%EC%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 516
x = [1, 2, 3, 4] 
y = tuple(x)
# c

In [ ]:
# 517
x = [1, 2, 3, 4] 
y = tuple(x) 
z = list(y)
# d

In [ ]:
# 518
x = 'Python' 
y = list(x) 
print(type(y))
# d

In [ ]:
# 519
x = 'Python' 
y = tuple(x) 
print(type(y))
# c

In [ ]:
# 520
x = ('Python') 
print(x)
# b

In [ ]:
# 521
x = ('Python',) 
print(x) 
# a

In [ ]:
# 522
x = [0, 2, 4, 6] 
print(tuple(x)) 
# b

In [ ]:
# 523
x = (0, 2, 4, 6) 
print(list(x)) 
# a

In [ ]:
# 524
x = 'Python' 
print(list(x))
# c

In [ ]:
# 525
x = 'Python' 
print(tuple(x))
# a

In [ ]:
# 526
x = [4, 5, 7, 8, 9] 
y = x 
y[1] = 6 
print(y)
# c

In [ ]:
# 527
x = [4, 5, 7, 8, 9] 
y = x 
y[1] = 6 
print(x)
# c

In [ ]:
# 528
def abc(z): 
  z.append(44) 
x = [7, 8, 9] 
abc(x) 
print(x) 
# b

In [ ]:
# 529
import copy 
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x.append(6) 
print(y[-1])
# d

In [ ]:
# 530
import copy 
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x[2] = 6 
print(y[2]) 
# a

In [ ]:
# 531
import copy 
x = [5, 4, 3, 2, 1] 
y = [7, 8, 9] 
z = [x, y] 
a = copy.copy(z) 
x[2] = 6 
print(a)
# b

In [ ]:
# 532
import copy 
x = [5, 4, 3, 2, 1] 
y = [7, 8, 9] 
z = [x, y] 
a = copy.deepcopy(z) 
x[2] = 6 
print(a) 
# a

In [ ]:
# 533
x = {'day':'Sunday', 'week':10} 
print(x['year'])
# b

In [ ]:
# 534
x = {'day':'Sunday', 'week':10} 
for i in x.values(): 
  print(i, end=' ')
# a

In [ ]:
# 535
x = {'day':'Sunday', 'week':10} 
for i in x: 
  print(i, end=' ')
# b

In [25]:
# algorithm homework
try:
  num = eval(input("입력하시오: "))
  if num - int(num):
    print("소수입니다.")
  else:
    print("정수입니다.")
except:
  print('math error')

입력하시오: ㅇㅁㄴㅇㅁㄴㅇ
math error