<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
when='저녁'
print('좋은',when,'입니다')
print('좋은 %s입니다' % when)
print('좋은 {}입니다'.format(when))
print(f'좋은 {when}입니다') #******

좋은 저녁 입니다
좋은 저녁입니다
좋은 저녁입니다
좋은 저녁입니다

In [2]:
##############################
# 리스트 튜플 딕셔너리 세트
##############################

list_a=[1,2,3]
list_b=[4,5,6]

print('list_a=',list_a)
print('list_b=',list_b)
print(list_a+list_b)
print(list_a*3)
print(len(list_a))

list_a= [1, 2, 3]
list_b= [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [3]:
#remove 값으로 삭제
list_c=[1,2,1,2]

list_c.remove(2) #remove는 요소의 값을 찾아 삭제한다 
                 # 동일한 값이 여러개인 경우는 순차적으로 하나씩 삭제한다. 앞에서 부터 하나씩
                 #리스트에서 중복된 여러개의 값을 한번에 제거하려면 반복문을 사용 
print(list_c)

list_a = [0,1,2,3,4,5]
#claer() 모든 요소를 전부 한번에 삭제하려고 하면 사용하는 함수 
list_a.clear()

print(list_a)

[1, 1, 2]
[]

In [4]:
# in / not in 리스트에 존재 하는 요소인지 확인 

list = [222,434,65,123,547,876]

print(222 in list)
print(221 in list)
print(221 not in list)
print(222 not in list)

True
False
True
False

In [5]:
# 딕셔너리 (java의 map JS의 json)
# 키와 벨류를 기반으로 값을 저장한다
# 삽입/삭제가 가능하다 mutable
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다 

dict = {
    "no":1,
    "name":"엔드 게임",
    "type":"히어로 무비",
    "price":10000
}
print(dict)
dict['name'] # 인덱스 대신 키값으로 접근을 한다

dict1 = {
    'name':'건조 망고',
    'type':'절임 과일',
    'ingredient':['망고', '설탕','색소'],
    'origin':'필리핀'
}

print('name',dict1['name'])
print('type',dict1['type'])
print('ingredient',dict1['ingredient'])
print('origin',dict1['origin'])

dict1['name']='망고' # 키값을 통한 수정하는 방법

print(dict1['ingredient'][0]) # 2차원 배열처럼 2번접근한다고 생각 

dict1['price']=5000

print(dict1) # 없는 키값과 밸류값을 추가할 수 있다 같은 방법으로 빈 딕셔너리에 새로운 키들을 추가 가능

#딕셔너리 자주 등장하는 에러(예외)

#KeyError 리스트에 없는 인덱스에 접근하려고 하면 Index에러가 뜨는것 처럼 
#딕셔너리도 없는 키값에 접근하려고 하면 뜨는 예외 또는 에러 
#같은 키 값이 여러개 있을 경우는 마지막 키값만 적용 그 외는 안들어감

{'no': 1, 'name': '엔드 게임', 'type': '히어로 무비', 'price': 10000}
name 건조 망고
type 절임 과일
ingredient ['망고', '설탕', '색소']
origin 필리핀
망고
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}

In [6]:
# 튜플 
# ( ) 소괄호를 사용 
# 리스트와 거의 유사하나 튜플은 삽입, 수정이 불가능하다 imutable
# 튜플은 1개의 원소로 작성할 때는 쉼표 , 를 삽입한다 
# ex) : (1,) 
# 튜플은 괄호를 생략할 수 있다

t=(1,2)
print(type(t))

t2=3,4
print(type(t2))

t3=(5,)  # 5,도 타입이 튜플로 출력 
print(type(t3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [2]:
# Set 세트 집합
# {}를 사용하여 작성한다 
# 중복을 허용하지 않는다
# 순서가 없다 (인덱싱을 할 수 없다, Unordered)
# 중복제거 필터용으로 많이 사용한다 고유값들만 남기려할거면 사용 
# set자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다 
# set는 수정/삭제가 가능하다 mutable

s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)
#print(s1[0])

set1={1,2,3}
set2={2,3,4}

# 양쪽 집합에 모두 공통적으로 포함되는 원소 -> 교집합
print(set1 & set2) 
print(set1.intersection(set2))

#양쪽 집합의 모든원소 ->합집합
print(set1 | set2)
print(set1.union(set2))

#두 집합의 차->차집합
print(set1-set2)
print(set1.difference(set2))

#수정/삭제 

set1={1,1,2,2,3,4}

#마지막에 원소가 추가된다

set1.add(4)
print(set1)



#여러개의 원소를 한번에 추가할 경우

set1.update([5,6,7,8]) # 리스트의 또다른 형태 
print(set1)

#집합은 삭제가 가능하다

set1.remove(3) #set 집합은 인덱스의 개념이 없기 때문에 remove를 사용하여 삭제를 할 경우 인덱스가 아닌 값을 직접 삭제한다 
               #몇번째 값을 삭제하냐가 아닌 무슨 값을 삭제할것이냐의 차이
print(set1)

<class 'set'>
{1, 2, 3}

TypeError: ignored

In [3]:
s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)
#print(s1[0])

li = list(s1)
print(type(li))
print(li)
li[0]

<class 'set'>
{1, 2, 3}
<class 'list'>
[1, 2, 3]

1

In [14]:
a=input('학번을 입력하세요:')

print(f'{a[0]}학년 {a[1:3]}반 {a[3:]}번')

학번을 입력하세요:12345
1학년 23반 45번

In [56]:
a=input('차량 번호를 입력하세요: ')

print(f'{a} 의 차량번호 끝 4자리는 {a[-4:]} 입니다')

차량 번호를 입력하세요: 서울2가 1234
서울2가 1234 의 차량번호 끝 4자리는 1234 입니다

In [36]:
name=input()

print(name[(int(len(name)/2)):int(len(name)/2)+1])
#(int(len(name)/2)==len(name)//2 몫만 챙기는 연산자

asdewqw
e

In [46]:
list1 = [1,2,3,4,5,6,7,8,9]

print(list1[2:7][1])

4

In [50]:
a =int( input('(입력) 정수를 입력하세요: '))

if a%3==0:
  b='는 3의 배수 입니다'
else:
  b='는 3의 배수가 아닙니다'

print(f'{a}{b}')

(입력) 정수를 입력하세요: 13
13는 3의 배수가 아닙니다

In [54]:
a=int(input('정수1입력:'))
b=int(input('정수2입력:'))
c=int(input('정수3입력:'))

if a>b & a>c:
  maxi=a
elif b>c:
  maxi=b
else:
  maxi=c

print(f'가장 큰 수는 {maxi}입니다.')

정수1입력:3
정수2입력:4
정수3입력:14

NameError: ignored