<a href="https://colab.research.google.com/github/mercedes6115/ai/blob/main/day12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# maths 

num=3.146592

print(round(num,2)) # 소수 3번째 자리에서 반올림후 두번째 자리까지 표시

3.15

In [5]:
num=12

print(pow(num,3)) # num 의 3승

1728

In [6]:
import math 

print(math.sqrt(1000)) # 제곱근

31.622776601683793

In [7]:
print(math.pi) # 원주율

3.141592653589793

In [11]:
print(9//2) # 몫 구하기 
print(9/2) # 계산값 
print(9%2) # 나머지 연산자

4
4.5
1

In [13]:
# Quiz
num = int(input('Enter a number over 500: '))
print(f'{round(math.sqrt(num),2)}')

Enter a number over 500: 777
27.87

In [15]:
# Quiz 

num = int(input('Enter the radius of a circle: '))
print(f'{math.pi * pow(num,2)}')

Enter the radius of a circle: 4
50.26548245743669

In [17]:
# Quiz 

num1,num2 = input('Enter 2 numbers: ').split()
num1 = int(num1)
num2 = int(num2)
print(f'{num1} divided by {num2} is {num1 // num2} with {num1 % num2} remaining')

Enter 2 numbers: 7 2
7 divided by 2 is 3 with 1 remaining

In [24]:
# Quiz 
print ('1) Square')
print ('2) Triangle')
print('')
choice = input('Enter a number: ')

if choice == '1':
  side = int(input("What's the length of a square?: "))
  print(f'The area is {side *side}')

elif choice == '2' :
  num1,num2 = input("What's the length and height of this triangle?:").split()
  num1= int(num1)
  num2= int(num2)
  print(f'The area is {(num1 * num2)/2}')

else:
  print('Incorrect option selected')

1) Square
2) Triangle

Enter a number: 1
What's the length of a square?: 12
The area is 144

In [28]:
# for 반복문 

# for i in range(start, stop, step) stop,step 은 생략 가능 

name , num = input('name and number: ').split()

num = int(num)
for i in range(num):
  print(name)

name and number: qoqhsdud 5
qoqhsdud
qoqhsdud
qoqhsdud
qoqhsdud
qoqhsdud

In [30]:
name = input('name : ')
for i in name:
  print (i)

name : qweqweqwe
q
w
e
q
w
e
q
w
e

In [33]:
num = int(input('num: '))

for i in range(50,num-1,-1):
  print(i)

num: 35
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35

In [39]:
# 파이썬 기본 별찍기 
num = int(input('star: '))

for i in range(1,num+1):
  for j in range(i):
    print('*',end='')
  print('')

star: 9
*
**
***
****
*****
******
*******
********
*********

In [40]:
# Quiz
total = 0
for i in range(5):
  num = int(input('num: '))
  q = input('add them? ')
  if q == 'yes':
    total = total + num
  else:
    pass
print(total)

num: 5
add them? yes
num: 6
add them? no
num: 6
add them? yes
num: 4
add them? no
num: 10
add them? yes
21

In [45]:
# Quiz

di = input('up or down: ')
if di == 'up':
  num = int(input('num: '))
  for i in range(1,num + 1):
    print(i)
elif di == 'down':
  num = int(input('num under 20: '))
  for i in range(20, num - 1,-1):
    print(i)
else:
  print("i don't understand")

up or down: do
i don't understand

In [48]:
# Quiz
inv= int(input('people: '))

if inv < 10:
  for i in range(inv):
    name = input('name: ')
    print(f'{name} has been invited')

elif inv >= 10 :
  print('Too many people')

people: 4
name: sk
sk has been invited
name: dk
dk has been invited
name: rk
rk has been invited
name: ek
ek has been invited

In [50]:
# While 문

total = 0 
while total <= 50:
  num = int(input('num:'))
  total += num

print(f'The total is ...{total}')

num:45
num:5
num:5
The total is ...55